<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Nova campanha</h4>
                </div>
                <div class="card-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Titulo</label>
                                    <input [(ngModel)]="campanha" type="text" class="form-control" name="campanha">
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngFor="let item of items">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating is-empty">
                                    <label class="control-label">Item (Colocar #) </label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                        </div>

                        <button (click)="addItem()" class="btn btn-danger pull-left">Adicionar Item</button>
                        <button (click)="doCreate()" class="btn btn-danger pull-right">Cadastrar</button>
                        <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

