<div class="main-content">

        <div class="container-fluid">

          <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card" >
                      <ng-container *ngFor="let campanha of campanhas">
                        <div class="card-header" data-background-color="orange" >
                            <h4 class="title">{{campanha.campanha}}</h4>
                            <p class="category"></p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th></th>
                                        <th>Item</th>
                                        <th>Quant. de Votos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        <tr *ngFor="let iten of campanha.itens">
                                            <td></td>
                                            <td>{{iten}}</td>
                                            <td>458</td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                      </ng-container>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <div class="card-content">
                            <p class="category">Total Geral de Votos</p>
                            <h3 class="title">+245</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>    
            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="red">
                            <div class="ct-chart" id="completedTasksChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Relatório por hora</h4>
                            <p class="category">Performace da Campanha</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          
        </div>
</div>
