<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Todas as campanhas</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Titulo</th>
                                    <th>Itens</th>
                                    <th>Status</th>
                                    <th>Relatório</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Campanha 1</td>
                                    <td>#item1, #item2, #item3</td>
                                    <td>Inativa - Botão para alterar o status</td>
                                    <td class="text-danger">Botão para aparecer um modal</td>
                                </tr>
                                <tr>
                                    <td>Campanha 2</td>
                                    <td>#item1, #item2, #item3</td>
                                    <td>Inativa - BOTÃO PARA ALTERAR O STATUS</td>
                                    <td class="text-danger">Botão para aparecer um modal</td>
                                </tr>
                                 <tr>
                                    <td>Campanha 3</td>
                                    <td>#item1, #item2, #item3, #item4</td>
                                    <td>Ativa</td>
                                    <td class="text-danger">Levar para página Dashboard</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
