<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Todas as campanhas</h4>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Titulo</th>
                                    <th>Itens</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="let campanha of campanhas">
                                    <td>{{ campanha.campanha }}</td>
                                    <td>{{ campanha.itens }}</td>
                                    <td>{{ campanha.ativo }}</td>
                                    <button class="btn btn-danger pull-right">Relatório</button>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
